
body { 
    margin: 0; 
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  :root {
    --imgheight: 856;
    --imgwidth: 432;
    --height: 60vmin;
    --width: calc((var(--imgwidth) / var(--imgheight) * var(--height)));
    
  }
  
  img, input {
    height: var(--height);
    width: var(--width);
    grid-area: 1 / -1;
  }
  
  input[type="color"]  { 
    /* mix blend mode makes the color of the input swatch alter the image behind it. */
    mix-blend-mode: multiply; 
    cursor: pointer;
    /* masks out the camera lenses */
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 432 856"><path d="M433 148v-28l-2-2V68s-1-66-71-67H68S11 1 2 63L1 788s-2 63 64 69h303s60-4 63-62V309a19 19 0 0 0 1-3v-55l-1-2v-14l1-3v-56l-1-2v-24ZM72 40a29 29 0 1 1-29 29 29 29 0 0 1 29-29Zm0 138a29 29 0 1 1 29-28 29 29 0 0 1-29 28Zm65-106a6 6 0 1 1 6-6 6 6 0 0 1-6 6Z" /></svg>') no-repeat;
    border-radius: 0; /* seems to allow firefox to apply the mask */
    padding: 0;
  }
  
  
  /* removes default styling from input color element */
  ::-webkit-color-swatch {
    border: none;
    transition: background-color 300ms ease-out;
  }
  
  ::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  ::-moz-color-swatch {
    border: none;
  }
  
  ::-moz-focus-inner {
    padding: 0;
  }